
.sub-medium{
    display: flex;
    height: 40px;
    align-items: center;
    text-overflow: ellipsis;
}

.sub-img{
    height: 15px;
    border-radius: 50%;
    box-sizing: content-box;
    margin-right: 10px;
    margin-left: 10px;
}
img{
    border-radius: 50%;
    width: 24px;
}
.sub-title{
    font-family: 'Poppins', arial;
    font-size: 16px;
    color: #b2b2b2;
    height: 20px;
    width: 200px;
    overflow: hidden;
    margin-top: 5px;
}
div{
    color: #b2b2b2;
}