.videorow{
    display: flex;
    flex-direction: column;
    background-color: #1c1C1C;
    width: 80%;
}
.videorow-cards{
    display: flex;
     background-color: #181818;;
     margin: 20px;
     padding: 10px;
     border-radius: 10px;
}

.videorow-image>img {
    object-fit: contain;
    width: 220px;
    height: 138px;
    border-radius: 5px;
}

.videorow-text{
    margin-left: 14px;
}

.videorow-text>h4{
    margin-top: 8px;
}

.videorow-description{
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
}

.videorow-headline{
    margin-top: 6px;
    font-size: 14px;
    color: #b2b2b2;
}

.videorow-logo{
    height: 100px;
    width: 200px;
    border-radius: 0px;
}