.header-box{
    display: flex;
    flex-direction: column;
    background-color: #101010;
    z-index: 1;
    top: 0;
    position: relative;
    position: sticky;
    height: 70px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    width: 97%;
    
}
.header-left{
    display: flex;
    align-items: center;
}
.icon-menu{
    color: #fff;
}
.header-left h2{
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    color: #00645D;
    font-size: 18px;
}

.header-center .icon-search{
    position: absolute;
}
.header-center{
    width: 32%;
}

.icon-search{
    padding: 5px;
    color: #b2b2b2;
}

.header-center input{
    width: 100%;
    height: 32px;
    padding-left: 32px;
    border-radius: 5px;
    background-color: #1c1C1C;
    border: none;
    color: #b2b2b2;
    font-family: 'Poppins', arial;
    font-size: 16px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-icon{
    margin-right: 8px;
    color: #fff;
}
.header-icon:hover{
    margin-right: 12px;
    color: #00645D;
    cursor: pointer;
}
.header-reseaux-social{
    margin-left: 12px;
    margin-right: 12px;
}

.profil-box{
    width: 15%;
    height: 32px;
    color: white;
    margin-top: 0px;
    border-radius: 5px;
    background-color: #000;
    box-shadow: 
    -10px -10px 15px rgba(20, 20, 20, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    position: relative;
    left: 83%;
    top: 56px;
    /* display: none; */
}
.profil-box-info{
    display: flex;
    margin:3px;

}
.profil-box-info p{
    margin: 5px 0px 0px 5px ;
}

